COMPOSE_PROJECT_NAME=pkb-service-local

PKB_POSTGRES_DB=pkb
PKB_POSTGRES_USER=pkb
PKB_POSTGRES_PASSWORD=pkb-local-password
PKB_POSTGRES_PORT=5432
PKB_DATASOURCE_URL=jdbc:postgresql://localhost:5432/pkb
PKB_DATASOURCE_USERNAME=pkb
PKB_DATASOURCE_PASSWORD=pkb-local-password
PKB_FLYWAY_ENABLED=true

PKB_KAFKA_PORT=9092
PKB_KAFKA_BOOTSTRAP_SERVERS=localhost:9092

PKB_MINIO_ROOT_USER=pkb-local-access
PKB_MINIO_ROOT_PASSWORD=pkb-local-secret
PKB_MINIO_API_PORT=9000
PKB_MINIO_CONSOLE_PORT=9001
PKB_S3_ENDPOINT=http://localhost:9000
PKB_S3_BUCKET=pkb-local
PKB_S3_REGION=eu-central-1
PKB_S3_ACCESS_KEY=pkb-local-access
PKB_S3_SECRET_KEY=pkb-local-secret
PKB_S3_PATH_STYLE_ACCESS_ENABLED=true

PKB_OPA_PORT=8181
PKB_OPA_BASE_URL=http://localhost:8181
PKB_OPA_DECISION_PATH=/v1/data/biocompass/pkb/authz/allow
